Repository cloudflare/terraform-provider-cloudflare, pull requests merged in 2021-12, with the labels that each got.

#1303 Add app_launcher_visible to Access Application
  .changelog/1303.txt
  cloudflare/resource_cloudflare_access_application.go
  cloudflare/resource_cloudflare_access_application_test.go
  cloudflare/schema_cloudflare_access_application.go
  website/docs/r/access_application.html.markdown
Labels: workflow/pending-upstream-library, triage/accepted, service/access

#1327 Add note to the firewall_rule docks about custom rules
  website/docs/r/firewall_rule.markdown
Labels: kind/documentation, triage/accepted, service/rulesets

#1350 ci: add changelog checks for new PRs
  .github/workflows/changelog-check.yml
  docs/changelog-process.md
  go.mod
  go.sum
  tools/cmd/changelog-check/main.go
  tools/tools.go
Labels: workflow/skip-changelog-entry
